*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-style: normal;
    list-style: none;
}

html{
    font-family: 'Anuphan', sans-serif;
    font-size: 62.5%;
    color: whitesmoke;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #202124;
}

/*#171717*/

